/* ---------- Common ---------- */

body {
    background-color: lightblue;
}

h1 {
    font-family: 'Helvetica', cursive;
    font-size:25px;
    font-weight:900;
}

input {
    border-radius: 6px;
}

button {
    border-radius: 6px;
}

select {
    border-radius: 6px;
}

/* ---------- Form (new shirt) ---------- */

form {

    background:#f0f3f5;
    border-radius: 6px;
    margin: 10px 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    max-width: 250px;
    padding: 10px;
}

div.formHeader {
    font-family: 'Helvetica', cursive;
    font-size:16px;
    font-weight:700;
    margin-bottom: 10px;
}

form.newShirt {
    padding-bottom: 15px;
}

input[type=text].newShirtTextBox {
    width: 180px;
    border-radius: 6px;
}

input[type=number].newShirtNumberBox {
    width: 60px;
}

label.newShirtCommon {
    display : inline-block;
    min-width: 60px;
    font-weight: bold;
}

/* ---------- Table ---------- */

table {

    background:#fff;
    border-radius: 6px;
    margin: 10px 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    max-width: 760px;
}

thead {
    border-radius: 6px;
}

thead th {
    font-family: 'Helvetica', cursive;
    font-size:16px;
    font-weight:700;
    color:#fff;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    text-align:center;
    padding:10px;
    background-image: linear-gradient(#646f7f, #4a5564);
    border-top:1px solid #858d99;
}

th.c1 { border-top-left-radius: 6px;}
th.c2 { border-top-right-radius: 6px;}
th.c3 { border-bottom-left-radius: 6px;}
th.c4 { border-bottom-right-radius: 6px;}

tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding: 10px;
    border-bottom:1px solid #e0e0e0;

}

tbody tr:nth-child(2n) {
    background:#f0f3f5;
}

input[type=text].shirtName{
    width: 205px;
}

input[type=text].shirtColor{
    width: 75px;
}

input[type=number].shirtAmount {
    width: 55px;
}

input[type=number].shirtPrice {
    width: 55px;
}

td.id {
    width: 25px;
    text-align: center;
}

th.name {
    width: 210px;

}

td.size {
    width: 60px;
    text-align: center;
}

th.color {
    width: 80px;
}

td.amount {
    width: 60px;
    text-align: center;
}

td.price {
    width: 60px;
    text-align: center;
}

th.empty {
    width: 115px;
}

button.table {
    width: 55px;
}