<!DOCTYPE html>
<html ng-app>
<head>

    <meta charset="UTF-8">
    <title>Shirts for everyone!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body ng-app="catApp">
    <div ng-controller="catalogCtrl">
        <select ng-model="sortingLimitSelected"
                ng-change="changeSortingLimit(sortingLimitSelected)">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
        </select>
        <button ng-click=changeSortingOffset("-") ng-disabled="previousDisabled"><</button>
        <button ng-click=changeSortingOffset("+") ng-disabled="nextDisabled">></button>
        <button ng-click=loadData()>Refresh</button>

        <form name="newShirtForm" ng-submit="addNewShirt()">
            <label>Add new shirt</label>
            <div>
                Name <input type="text" name="shirtName" ng-model="newShirt.name" required>
            </div>
            <div>
                Color <input type="text" name="shirtColor" ng-model="newShirt.color" required>
            </div>
            <div>
                Size
                <select name="shirtSize" ng-model="newShirt.size">
                    <option value="">Choose size</option>
                    <option ng-repeat="size in shirtSizes"
                            value="{{size.sizeName}}">{{size.sizeName}}</option>
                </select>
                <span class="error" ng-show="validationFailed">Required!</span>
            </div>
            <div>
                Amount <input type="number" name="shirtAmount" ng-model="newShirt.amount" min="0" required>
            </div>
            <div>
                Price <input type="number" name="shirtAmount"
                             ng-model="newShirt.price" step="0.01" min="0" required>
            </div>
            <input type="submit">
        </form>

        <table>
            <tr>
                <th ng-click=changeSortingKey("id")> ID</th>
                <th ng-click=changeSortingKey("name")>Name</th>
                <th ng-click=changeSortingKey("color")> Color </th>
                <th ng-click=changeSortingKey("size")> Size </th>
                <th ng-click=changeSortingKey("amount")> Amount </th>
                <th ng-click=changeSortingKey("price")> Price € </th>
            </tr>
            <tr ng-repeat="shirt in shirts" ng-include="getTemplate(shirt)">

            </tr>
        </table>
    </div>

    <script type="text/ng-template" id="displayShirt">
        <td id="p1">{{ shirt.id }}</td>
        <td>{{ shirt.name }}</td>
        <td id="colorbox">{{ shirt.color }}</td>
        <td>{{ shirt.size }}</td>
        <td>{{ shirt.amount }}</td>
        <td>{{ shirt.price }}</td>
        <td>
            <button ng-click="editShirt(shirt)">Edit</button>
            <button ng-click="deleteShirt(shirt.id)">Delete</button>
        </td>
    </script>
    <script type="text/ng-template" id="editShirt">
        <td>{{shirt.id}}</td>
        <td>
            <input type="text" ng-model="shirtSelected.name" />
        </td>
        <td>
            <input type="text" ng-model="shirtSelected.color" />
        </td>
        <td>
            <input type="text" ng-model="shirtSelected.size" />
        </td>
        <td>
            <input type="number" ng-model="shirtSelected.amount" />
        </td>
        <td>
            <input type="number" ng-model="shirtSelected.price" step="0.01" min="0"/>
        </td>
        <td>
            <button ng-click="updateShirt($index)">Save</button>
            <button ng-click="resetEdit()">Cancel</button>
        </td>
    </script>


   </body>
</html>