<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Shirts for everyone!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body ng-app="catApp">
    <div ng-controller="catalogCtrl">

        <!--Form for adding a new shirt-->
        <form class="newShirt" name="newShirtForm" ng-submit="addNewShirt()">
            <div class="formHeader">Add new shirt</div>
            <div>
                <label class="newShirtCommon">Name</label>
                <input class="newShirtTextBox" type="text" name="shirtName" ng-model="newShirt.name" required>
            </div>
            <div>
                <label class="newShirtCommon">Color</label>
                <input class="newShirtTextBox" type="text" name="shirtColor" ng-model="newShirt.color" required>
            </div>
            <div>
                <label class="newShirtCommon">Size</label>
                <select name="shirtSize" ng-model="newShirt.size">
                    <option value="">Default (M)</option>
                    <option ng-repeat="size in shirtSizes" value="{{size.sizeName}}">{{size.sizeName}}</option>
                </select>
            </div>
            <div>
                <label class="newShirtCommon">Amount</label>
                <input class="newShirtNumberBox rounding" type="number" name="shirtAmount" ng-model="newShirt.amount" min="0" required>
            </div>
            <div>
                <label class="newShirtCommon">Price</label>
                <input class="newShirtNumberBox" type="number" name="shirtAmount"
                             ng-model="newShirt.price" step="0.01" min="0" required>
            </div>
            <button class="rounding">Submit</button>
        </form>

        <!--Controls for searching shirts-->
        <div>
            <input type="text" ng-model="searchShirt" >
            <button ng-click=loadData()>Search name</button>
        </div>
        <div>
            <select class="rounding" ng-model="sortingLimitSelected"
                    ng-change="changeSortingLimit(sortingLimitSelected)">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="999999999" ng-hide="hideAllLimit">All</option>
            </select>
            <button ng-click=changeSortingOffset("-") ng-disabled="previousDisabled">◄</button>
            <label>{{currentPage}} / {{totalPages}}</label>
            <button ng-click=changeSortingOffset("+") ng-disabled="nextDisabled">►</button>
            <button ng-click=loadData()>Refresh</button>
        </div>

        <!--Table which contains shirts-->
        <table>
            <thead>
                <tr>
                    <th class="c1" ng-click=changeSortingKey("id")> ID </th>
                    <th class="name" ng-click=changeSortingKey("name")> Name </th>
                    <th class="color" ng-click=changeSortingKey("color")> Color </th>
                    <th class="size" ng-click=changeSortingKey("size")> Size </th>
                    <th class="amount" ng-click=changeSortingKey("amount")> Amount </th>
                    <th class="price" ng-click=changeSortingKey("price")> Price € </th>
                    <th class="empty c2"></th>
                </tr>
            </thead>

            <tr ng-repeat="shirt in shirts" ng-include="getTemplate(shirt)">

            </tr>
            <thead>
                <tr>
                    <th class="c3" ng-click=changeSortingKey("id")> ID</th>
                    <th class="name" ng-click=changeSortingKey("name")>Name</th>
                    <th class="color" ng-click=changeSortingKey("color")> Color </th>
                    <th class="size" ng-click=changeSortingKey("size")> Size </th>
                    <th class="amount" ng-click=changeSortingKey("amount")> Amount </th>
                    <th class="price" ng-click=changeSortingKey("price")> Price € </th>
                    <th class="empty c4"></th>
                </tr>
            </thead>
        </table>

        <!--Controls for searching shirts repeated at the end of the table-->
        <div>
            <select class="rounding"  ng-model="sortingLimitSelected"
                    ng-change="changeSortingLimit(sortingLimitSelected)">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="999999999" ng-hide="hideAllLimit">All</option>
            </select>
            <button ng-click=changeSortingOffset("-") ng-disabled="previousDisabled">◄</button>
            <label>{{currentPage}} / {{totalPages}}</label>
            <button ng-click=changeSortingOffset("+") ng-disabled="nextDisabled">►</button>
            <button ng-click=loadData()>Refresh</button>
        </div>
        <div>
            <input type="text" ng-model="searchShirt" >
            <button ng-click=loadData()>Search name</button>
        </div>

        <!--Advanced options at the bottom of the page. Mostly to make testing easier.-->
        <h1>Advanced options</h1>
        <div>
            <button ng-hide="advancedOptions" ng-click=revealAdvancedOptions()>Click here to reveal</button>
            <button ng-hide="!advancedOptions" ng-click=addTestData()>Add test data</button>
            <button ng-hide="!advancedOptions" ng-click=deleteAllData()>Delete everything, nuke it down!</button>
            <button ng-hide="!advancedOptions" ng-click=allowSearchAll()>Allow searching all shirts</button>
        </div>

    </div>

    <!--HTML templates for showing normal and editable info for shirts in table-->

    <script type="text/ng-template" id="displayShirt">
        <td class="id">{{ shirt.id }}</td>
        <td>{{ shirt.name }}</td>
        <td>{{ shirt.color }}</td>
        <td class="size">{{ shirt.size }}</td>
        <td class="amount">{{ shirt.amount }}</td>
        <td class="price">{{ shirt.price }}</td>
        <td>
            <button class="table" ng-click="editShirt(shirt)">Edit</button>
            <button class="table" ng-click="deleteShirt(shirt.id)">Delete</button>
        </td>
    </script>
    <script type="text/ng-template" id="editShirt">
        <td class="id">{{shirt.id}}</td>
        <td>
            <input class="shirtName" type="text" ng-model="shirtSelected.name" />
        </td>
        <td>
            <input class="shirtColor" type="text" ng-model="shirtSelected.color" />
        </td>
        <td>
            <select name="shirtSize" ng-model="shirtSelected.size">
                    <option ng-repeat="size in shirtSizes"
                            value="{{size.sizeName}}">{{size.sizeName}}</option>
                </select>
        </td>
        <td>
            <input class="shirtAmount" type="number" ng-model="shirtSelected.amount" min="0" />
        </td>
        <td>
            <input class="shirtPrice" type="number" ng-model="shirtSelected.price" step="0.01" min="0"/>
        </td>
        <td>
            <button class="table" ng-click="updateShirt($index)">Save</button>
            <button class="table" ng-click="resetEdit()">Cancel</button>
        </td>
    </script>


   </body>
</html>