<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shirts for everyone!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.5.8/angular-route.min.js"></script>
    <script src="/static/catalog.js"></script>
    <link rel="stylesheet" type="text/css" href="static/catalog.css"/>


</head>
<body ng-app="catApp">
    <div><h1>Hello lorem ipsum shirts!</h1></div>
    <div ng-view></div>
</body>
</html>