<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <table border = 1>
        <tr>
            <th> Shirt name </th>
            <th> Color </th>
            <th> Size </th>
            <th> Amount </th>
            <th> Price € </th>
        </tr>
        {% for row in result %}

            <tr>
                <td> {{ row['shirt_name'] }} </td>
                <td> {{ row['color'] }} </td>
                <td> {{ row['shirt_size'] }} </td>
                <td> {{ row['amount'] }} </td>
                <td> {{ row['price'] }} </td>
            </tr>

         {% endfor %}
    </table>

   </body>
</html>
